html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/*.navbar {
    
    top: 0;
    z-index: 2;
    height: 100%;
    background-color: #D4E5F9;
    display: flex;
    align-items: flex-start;
    padding-left: 27px;
}
.container-fluid {
z-index:0;
}*/

/*.lightblue {
    background-color: #D4E5F9;
}

.darkblue {
    color: #1c3484;
}

.nav-link {
    font-size: 17px;
    padding-left: 0px !important;
    display: flex;
    align-items: center;
}
.ikona {
    width: 2em;
    height: 2em;
}*/
.logopurelife {
    width:160px;
    padding-right:20px;
}
.smallnavlogomobile {
    width: 35px;
}
.dropdown-menu-dark .dropdown-item {
    font-size: 10px;
    color: #0a3765;
}


.menu-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: auto;
}

.dropdown-menu {
    min-width: 0;
}

/*/**/