@model Sherbimet

@{
    ViewData["Title"] = "Edit";
}

<div class="card card-custom">
	<div class="card-header">
		<h3 class="card-title">
			Perditeso sherbimet
		</h3>
	</div>
	<!--begin::Form-->
	<form asp-action="Edit" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="Id" />
		<div class="card-body">


			<div class="form-group row">
				<label class="col-2 col-form-label" asp-for="Emri" class="control-label"></label>
				<div class="col-10">
					<input class="form-control" type="text" id="example-search-input" asp-for="Emri" class="form-control" />
					<span asp-validation-for="Emri" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-2 col-form-label" asp-for="Pershkrimi" class="control-label"></label>
				<div class="col-10">
					<textarea class="form-control" type="text" id="example-search-input" asp-for="Pershkrimi" class="form-control"></textarea>
					<span asp-validation-for="Pershkrimi" class="text-danger"></span>
				</div>
			</div>


			<div class="form-group row">
				<label class="col-2 col-form-label" asp-for="Cmimi" class="control-label"></label>
				<div class="col-10">
					<input class="form-control" type="text" id="example-search-input" asp-for="Cmimi" class="form-control" />
					<span asp-validation-for="Cmimi" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-2 col-form-label">Lemia</label>
				<div class="col-lg-4 col-md-9 col-sm-12">
					<select asp-for="LemiaId" class="form-control" asp-items="ViewBag.LemiaId"></select>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="row">
				<div class="col-2">
				</div>
				<div class="col-10">
					<div class="form-group" style="display:flex;flex-direction:row;justify-content:end;">
						<input type="submit" value="Create" class="btn btn-primary me-4" />
						<a asp-action="Index" class="btn btn-secondary">Cancel</a>
					</div>

				</div>
			</div>
		</div>
	</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
