<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pure_Life</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pure_Life.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a33396c63f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


</head>
<body>


    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 lightblue" style="position: fixed">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 lightblue text-white min-vh-100">
                    <a class="navbar-brand mt-2 mb-auto" href="#">
                        <img class="logopurelife" src="~/purelifeLOGO.png" alt="LOGO">
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                        <li>
                            <ul class="navbar-nav flex-column ">
                                <li class="nav-item">
                                    <a class="nav-link darkblue" asp-area="" asp-controller="Home" asp-action="Index">
                                        <img src="~/Icons/statistics.svg" alt="Statistics" class="ikona">
                                        Statistics
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link darkblue" asp-area="" asp-controller="Home" asp-action="Index">
                                        <img src="~/Icons/home.svg" alt="Home" class="ikona"> Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link darkblue" asp-area="" asp-controller="Shteti" asp-action="Index"> 
                                        <img src="~/Icons/city.svg" alt="Shteti" class="" style="width: 28px; padding-left: 3px; margin-right: 4px; ">  Shteti
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link darkblue" asp-area="" asp-controller="Nacionaliteti" asp-action="Index">
                                        <img src="~/Icons/home.svg" alt="Home" class="ikona"> Nacionaliteti
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link darkblue" asp-area="" asp-controller="Lemia" asp-action="Index">
                                        <img src="~/Icons/home.svg" alt="Home" class="ikona"> Lemia
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link darkblue" asp-area="" asp-controller="Rolet" asp-action="Index">
                                        <i class="fa-solid fa-house ikona"></i> Roles
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link darkblue" asp-area="" asp-controller="Stafi" asp-action="Index">
                                        <img src="~/Icons/home.svg" alt="Home" class="ikona"> Stafi
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle  darkblue" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1 darkblue">Albin Saraqi</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small darkblue shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3 offset-md-3 offset-xl-2">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; 2023 - Pure_Life - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>